JWT_SECRET = SchuelkePasswod8874584

#app port
PORT = 5000

#postgres detail
DB_USER = "postgres"
DB_PASSWORD = "techHelper#2022"
DB_HOST = "localhost"
DB_PORT = 5432
DB_DATABASE = "schuelke_database"
DB_TYPE = "postgres"

#s3 detail
AWS_KEY = "AKIAZL2AUI3NVR6ENOGF"
AWS_SECRET = "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"
AWS_BUCKETNAME = "betaschulke"
AWS_REGION = "ap-south-1"